.container {
    width: 100%;
    height: 100%;
    @include flexbox();
    @include flex-direction(column);
    font-size: 0.14rem;
    > * {
        width: 100%;
    }
    .bdsharebuttonbox {
        position: absolute;
        top: 0.4rem;
        z-index: 12;
        display: none;
    }
    header {
        .headerRight {
          a{
            position: relative;
            img {
                width: 0.24rem;
            }
            h2{
              position: absolute;
              width:.16rem;
              height:.16rem;
              border-radius: .20rem;
              background-color: #fff;
              left:.12rem;
              top:.02rem;
              font-size: .1rem;
              text-align: center;
              line-height: .16rem;
            }
          }
        }
    }
    section {
        overflow: hidden;
        @include flex(1);
        background-color: #fff;
        width: 100%;
        .allSection {
            .swiper-wrapper {
                @include flexbox();
                img {
                    width: 3.2rem;
                    height: 3.2rem;
                }
            }
            > p{
              font-size: .12rem;
              color:#444444;
              padding: 0 .15rem;
            }
            > h2{
              color: #999999;
              padding: 0 .15rem;
              span,i{
                color: #FC8A66;
                font-size: .192rem;
              }
              b,s{
                color: #999999;
                font-size: .12rem;
              }
              s{
                text-decoration: line-through;
              }
            }
            > h3{
              padding: 0 .15rem;
              border-top:1px solid  #666666;
              border-bottom: 1px solid  #666666;
              line-height: .20rem;
              color: #333;
              font-size: .12rem;
              span{
                color: yellow;
              }
            }
            .goodArgu{
              padding:0 .15rem;
              .goodDetail{
                padding:0 .15rem;
                li{
                  @include flexbox();
                  @include justify-content(space-between);
                  font-size: .12rem;
                  color:#707070;
                  line-height: .24rem;
                  .p1{
                    padding-right:.1rem;
                  }
                  .p2{
                    padding-left: .1rem;
                  }
                }
              }
            }
            >img{
              width:100%;
            }
        }
    }
    footer {
        height: 0.384rem;
        background-color: #F1F1F1;
        @include flexbox();
        .footerLeft {
            @include flex(1);
            @include flexbox();
            @include justify-content(space-around);
            @include align-items(center);
            img {
                width: 0.21rem;
            }
            img:first-child {
                height: 0.22rem;
            }
            img:last-child {
                height: 0.29rem;
            }
        }
        .footerRight {
            @include flex(1);
            @include flexbox();
            p {
                @include flex(1);
                height: 100%;
                text-align: center;
                line-height: 0.384rem;
                color: #fff;
            }
            p:first-child {
                background-color: #f47920;
            }
            p:last-child {
                background-color: #FF2501;
            }
        }
    }
    >p{
      position: fixed;
      top: 2.5rem;
      left: .5rem;
      color: red;
      font-size: 0;
      display: none;
    }
}
