.container2{
  height: 100%;
  @include flexbox();
  @include flex-direction(column);
  >*{
    width:100%;
  }
  header{
    width: 100%;
    height: 12vw;
    background-color:$sortMenuBaseColor;
    ul{
      height: 100%;
      @include flexbox();
      li{
        margin-left: 3vw;
        line-height: 12vw;
        &:first-child{
          img{
            height: 4vw;
          }
        }
        &:nth-child(2){
          text-align: center;
          font-size: 5vw;
          color:#fff;
          @include flex(8);
        }
        &:last-child{
          @include flex(1);
		    line-height: 11.6vw;
			text-align: center;
			font-size: 6.15vw;
          a{
			color:#fff;
		  }
        }
      }
    }
  }
  #huodong-hang{
    background: #ffffff;
    height: 12.8vw;
    @include flexbox();
    div{
      @include flex();
      @include border(0 0 1px 0,#cccccc);
      @include align-items(center);
      @include justify-content(center);
      font-size: 4.48vw;
      text-align: center;
      line-height: 12.8vw;
      &.active{
        @include border(0 0 1px 0,orange);
        color: orange;
      }
    }
  }
  section{
    background: #ffffff;
    @include flex();
    overflow: hidden;
    width: 100%;
   .swiper-container{
     height: 100%;
     .swiper-wrapper{
       width:300%;
       @include flexbox();
       @include flex-direction(row);
      .swiper-slide{
        @include flex(1) ;
        width: 120vw;
      }
     }
   }
    dl{
      @include flexbox();
      padding: 3%;
      margin: 5% auto 0;
      background: #f5f5f5;
      position: relative;
      .a{

        z-index: 2;
        width: 12.8vw;
        height: 19.2vw;
        position: absolute;
        top:0;
        left: 4.48vw;
      }
      dt{
        margin: 5% 0 0 0;
        width: 27.52vw;
        height: 27.52vw;
        img{
          display: block;
          z-index: 1;
          width: 100%;
          height: 100%;
        }
      }
      dd{
        margin: 0 2.5vw;
        .name{
          color: #444;
        }
        .jieshao{
          margin: 5.12vw 0;
          color: #89898a;
          font-size: 12px;
          .jia{
            margin: 0 1.28vw;
            font-size: 5.12vw;
            font-weight: bold;
            color: #ff8561;
          }
          .shijia{
            color: #89898a;
            font-size: 3.84vw;
            text-decoration: line-through;
          }
        }
        .yishou{
          font-size: 3.84vw;
          color: #ff8561;
          text-align: right;
        }
      }
    }
  }
  @extend %footer;
}