.container {
  width: 100%;
  height: 100%;
  @include flexbox();
  @include flex-direction(column);
  header{
    width: 100%;
    height: 12vw;
    background-color:$sortMenuBaseColor;
    ul{
      height: 100%;
      @include flexbox();
      li{
        margin-left: 3vw;
        line-height: 12vw;
        &:first-child{
          img{
            height: 4vw;
          }
        }
        &:nth-child(2){
          text-align: center;
          font-size: 4vw;
          color:#fff;
          @include flex(8);
        }
        &:last-child{
          @include flex(1);
		    line-height: 11.6vw;
			text-align: center;
			font-size: 6.15vw;
          a{
			color:#fff;
		  }
        }
      }
    }
  }
  nav{
    height: 14vw;
    background-color: #fff;
    position: relative;
    @include border(0 0 1px 0,#c6c7c9);
    ul:first-child{
      @include flexbox();
      @include flex-direction(row);
      padding: 0 3vw;
      li{
        @include flex();
        height: 14vw;
        text-align: center;
        color:#999;
        font-size: 4vw;
        line-height: 14vw;
        &.active{
          color: #e65512;
          border-bottom: 3px #E65512 solid;
        }
      }
    }
    ul#fenlei,ul#paixu{
      display: none;
      z-index:999;
      width: 100%;
      position: absolute;
      top: 14vw;
      left: 0;
      color: #4e4e4e;
      text-align: center;
      li{
        background-color: #ddd;
        width: 100%;
        font-weight: bold;
        line-height: 10vw;
        padding-bottom: 1vw;
        padding-top: 1vw;
        font-size: 4vw;
        @include border(0 0 1px 0,#000);
      }
    }
  }
  section {
    background-color: #fff;
    overflow: hidden;
    @include flex();
    ul{
      @include flexbox();
      @include flex-direction(column);
      li{
        @include flexbox();
        margin-top: 4vw;
        color:#999;
        padding: 1vw 4vw;
        background-color: #f5f5f5;
        div.goodLeft{
          @include flex(1);
          margin: 1vw 0;
          img{
            width: 100%;
          }
        }
        div.goodRight{
          @include flex(3);
          padding: 2vw 0 0 1vw;
          color: #000;
          p.goodName{
            font-size: 3.4vw;
          }
          p.goodPrice{
            padding: 1vw 0;
            font-size: 3.2vw;
            color: #cd0606;
            span.nowPrice{
              font-size: 140%;
              font-weight:bold;
            }
            del{
              padding-left: 1vw;
              text-decoration: line-through;
            }
          }
          p.pingjia{
            font-size: 3vw;
            color: #999;
            text-align: right;
          }
        }
      }
    }
  }
  @extend %footer;
}
