[type=tpl] {
  display: none;
}

$baseColor: #65a51e;//绿色1
$bgcolor1:#fff;//白色

 @font-face {
    font-family: 'iconfont';
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    src:url('/build/images/fonts/iconfont-footer.woff') format('woff'),
    /* chrome、firefox */
     url('/build/images/fonts/iconfont-footer.ttf') format('truetype');
}
@font-face {
    font-family: 'iconfont';
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    src:url('/build/images/fonts/index-header.woff') format('woff'),
    /* chrome、firefox */
     url('/build/images/fonts/index-header.ttf') format('truetype');
}



.iconfont {
  font-family: iconfont;
}

%footer {
  footer {
    height: 16vw;
    background: #eeeef0;
    ul {
      width: 100%;
      height: 100%;
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);
      border-top: solid 0.5px #d9d9d9;
      .active i {
        border: solid 0.5px  $baseColor;
          color: $baseColor;
      }
      .active b{
            color: $baseColor;
        }
      li {
        @include flex(1);
        @include flexbox();
        @include flex-direction(column);
        @include align-items(center);
        @include justify-content(center);
        padding-top: 2.2vw;
        b {
          height:7.38vw;
          line-height: 7.38vw;
          font-weight: normal;
          font-size: 3.69vw;
          color: #aaa;
        }
        i {
          width: 8.6vw;
          height: 8.6vw;
          border-radius: 4.3vw;
          line-height: 100%;
          font-weight: normal;
          font-size: 7.38vw;
          text-align: center;
          border: solid 0.5px #aaa;
          color: #aaa;
        }

      }
      .dd{
        font-size:5.6vw;
        line-height:8.75vw;
      }
    }
  }
}
